# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
dist/
build/
out/

# Turbo
.turbo/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Prisma
apps/api/prisma/migrations/*.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/settings.json

# Testing
coverage/
*.lcov

# TypeScript
*.tsbuildinfo

# Misc
*.pem
